* {
    box-sizing: border-box;
}

/* body {
    background-color: #ffeb00;
} */

body {
    background-color: #ffffff;
}

.ideas-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: space-between;
}

/* .ideas-flex-container::after {
    content: "";
    flex: auto;
    flex-basis: 66.5%;
    flex-grow: 0;
} */

.idea-container {
    flex: 1;
    background-color:rgb(207, 207, 207);
    box-shadow: 10px 10px 10px #2A3439;
    margin: 1.5rem;
    border-radius: 1.2rem;
    padding: 1rem;
    border: 4px solid #2a3439;
    /* max-width: 30%; */
    
}
.idea-title {
    font-size: 1.5rem;
    padding: 1rem;
}
.idea-image {
    max-width: 360px;
    height: 360px; 
    border-radius: 1.2rem;
    padding: .3rem;
    /* box-shadow: 10px 10px 5px #2A3439; */
}
.edit-link-container {
    padding: 1rem;
}
.edit-link {
    /* align-self: flex-end; */
    background-color: #2A3439;
    min-width: 150px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2A3439;
    color: #fcfff7;
    padding: .7rem;
    transition: .8s;
}

.edit-link:hover {
    background-color: #fcfff7;
    color: #2A3439;
    transition: .8s;
    box-shadow: 0 0 20px #1f75fe;
}


/* @media (max-width: 1345px) {
    .ideas-flex-container::after {
        flex-basis: 50%;
    }
} */

@media (max-width: 960px) {
    .idea-image {
        max-width: 300px;
        height: 300px;
    }
}

@media (max-width: 800px) {
    .idea-image {
        max-width: 250px;
        height: 250px;
    }
}

@media (max-width: 550px) {
    .ideas-flex-grid {
        display: block;
    }

    .idea-container {
        display: block;
        margin: 0, 0, 10px, 0;
    }

    .idea-image {
        max-width: 250px;
        height: 250px;
    }
}